.swiper-button-next {
    background-image: url("resources/images/231c2952345fdd591c308ac805a880a8a47253b6.png");
    background-size: auto;
}
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
    margin-top: 155px;
}
.description {
    left: 32%;
    position: absolute;
    top: 32%;
    /* transform: translate(-50%, -20%); */
    text-align: left;
}
.home {
    background-image: url("resources/images/a01fb945d22083a7bcc9eb667cfe34ed6a3daa8b.jpg");
}
.ach {
    background-image: url("resources/images/9043de8e2988b4c5ac767fd4dbbb402f6204c3ac.png");
    opacity: 0.58;
    text-align: center;
}
/* a .nav-link:hover {
    color: blue;
} */
.ach button {
	background: blue;
	border-radius: 40;
	color: #fff;
}
.p {
    font-size: 0.3rem;
}
body {
    font: normal 20px 'Courier New', Courier, monospace;
}
.overlay {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}
.logo {
    width: 23%;
}
.name {
    font-size: 26px;
}
.sub-name {
    font-size: 16px;
}
/* .description h1 {
	color: #6ab446;
} */