nav .logo {
    width: 20%;
}
nav .name {
    font-size: 26px;
}
nav .sub-name {
    font-size: 16px;
}
header .description {
    left: 32%;
    top: 32%;
    position: relative;
    text-align: left;
}
header .overlay{
    min-height: 100%;  
    position: absolute;
}
.carousel-item img {
    width: 100%;
    height: 700px;
}
.carousel-control-prev span {
    background-image: url("resources/images/231c2952345fdd591c308ac805a880a8a47253b6.png");
    transform: rotate(180deg);
    ;
}
.carousel-control-next span {
    background-image: url("resources/images/231c2952345fdd591c308ac805a880a8a47253b6.png");
}
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 145px;
}
.home {
    background-image: url("resources/images/a01fb945d22083a7bcc9eb667cfe34ed6a3daa8b.jpg");
    height: 800px;
}
.activities {
    background-image: url("resources/images/ce999326553bab021f3fce59ee704f0b9ba557e9.png");
    height: 400px;
}
.home-alt {
    background-image: url("resources/images/9043de8e2988b4c5ac767fd4dbbb402f6204c3ac.png");
    /* opacity: 0.7; */
    height: 400px;
    background-position: top;
    text-align: center;
}
.header .btn {
	background: #3194f7;
	border-radius: 40;
	color: #fff;
    width: 30%;
}
body {
    font: normal 20px 'Courier New', Courier, monospace;
}
.p {
    font-size: 0.3rem;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 40%;
}
.links {
    height: 100px;
}
div .sosmed {
    width: 15%;
    height: 15%;
}
